.sign-up-page{
    margin-left: 6%;
    margin-right: 6%;
    .help{
        margin-top: 6vh;
       #logo{
        width: 12%;
        height:7vh;
        cursor: pointer;
       } 
    }
}